---
interface Props {
    commits: any[]
}

const { commits } = Astro.props;
---

<div class="row" style="padding: var(--space-sm);">
    <div style="width: 1px; background: var(--border); align-self: stretch;"></div>
    <div class="stack stack-sm">
        {
            commits.map((commit: any) => (
                <p>
                    <a href={commit.permalink}>
                        <span class="font-mono">{commit.sha.slice(0, 7)}</span>
                    </a>{' '}
                    - <span>{commit.title}</span>
                </p>
            ))
        }
    </div>
</div>
