---
import remarkHtml from 'remark-html'
import Navigation from '../../../components/Navigation.astro'
import Page from '../../../layouts/Page.astro'
import type { BlogGroup } from '../../../types'
const { group, slug } = Astro.params
import { getBlogPost } from '../../../utils'
import { remark } from 'remark';
import PublishTime from "../../../components/blog/PublishTime.tsx";

const post = await getBlogPost(group as BlogGroup, slug as string)

const parsed = await remark().use(remarkHtml).process(post?.content ?? "no content"); 

export const prerender = false
---

<Page title={slug ?? 'A blog post'} description="Blog Post">
    <Navigation home={false} />
    <main class='max-w-[100ch] mx-auto px-6'>
        {
            !post ? (
                <p>Error fetching blog post</p>
            ) : (
                <>
                    <h1 class="text-4xl" transition:name={"title-"+post.slug}>{post.title}</h1>
                    {/*<date>Published {moment(post.published_at).calendar({sameElse: "DD/MM/yyyy"})}</date>*/}
                    <div><span>Published </span><PublishTime client:load date={post.published_at} /></div>
                    <article>{parsed}</article>
                </>
            )
        }
    </main>
</Page>
:
