---
import { SKILL_EVENT_TYPE, type SkillEventType } from '../../types'
import { ArrowUpRight, Check, Sparkles } from 'lucide-astro'

interface Props {
    type: SkillEventType
    size: number
}

const { type, size } = Astro.props
---

<div>
    {
        [type].map((t) => {
            switch (t) {
                case SKILL_EVENT_TYPE.BEGIN:
                    return <Sparkles size={size} />
                case SKILL_EVENT_TYPE.LEARN:
                    return <ArrowUpRight size={size} />
                case SKILL_EVENT_TYPE.MASTER:
                    return <Check size={size} />
                 
            }
        })
    }
</div>
