---
import { Hammer, MonitorX, Pause, Radio, Rocket, Trash2, Zap } from 'lucide-astro'
import type { PROJECT_STATUS } from '../../types'
interface Props {
    status: PROJECT_STATUS
}
const { status } = Astro.props

const getColour = (status: PROJECT_STATUS) => {
    if (status == "DEVELOPMENT") return "#a25fed";
    if (status == "LIVE" || status == "FINISHED" || status == "RELEASED") return "#5fed84";
    if (status == "STOPPED" || status == "ABANDONED") return "#ed5f5f";
    if (status == "PAUSED") return "#eda75f";
    return "white";
}

const colour = getColour(status);
---
<div class="flex flex-row gap-2 border border-borders-primary rounded w-max px-2 py-1" style={{color: colour}}>
    <span>
        {
            [status].map((s: PROJECT_STATUS) => {
                switch (s) {
                    case 'DEVELOPMENT':
                        return <Hammer />
                    case 'LIVE':
                        return <Radio />
                    case 'PAUSED':
                        return <Pause />
                    case 'STOPPED':
                        return <MonitorX />
                    case 'RELEASED':
                        return <Rocket />
                    case 'ABANDONED':
                        return <Trash2 />
                    case "FINISHED":
                        return <Zap />
                }
                return <div>N/A</div>
            })
        }
    </span>
    <span class="font-bold capitalize">
        {status.toLowerCase()}
    </span>
</div>
