---
import { Laptop2, GraduationCap, Camera, Fish } from 'lucide-astro'
import { Image } from 'astro:assets';
import forbitIcon from "../../assets/forbit-icon.png"
interface Props {
    more: boolean
}

const { more } = Astro.props;
---

<div class="flex gap-4 flex-col lg:flex-row items-center lg:items-unset">
    <div class="lg:w-max flex items-center justify-center">
        <div class="h-16 w-16">
            <Image src={forbitIcon} alt="forbit logo" class="rounded-[30%]"/>
        </div>
    </div>
    <ul class="w-min lg:w-max whitespace-nowrap px-3 py-2 border rounded border-borders-primary">
        <li class="flex flex-row gap-2"><Laptop2 />Software Engineer</li>
        <li class="flex flex-row gap-2"><GraduationCap />University of Adelaide</li>
        <li class="flex flex-row gap-2"><Camera />Hobbyist Photographer</li>
        <li class="flex flex-row gap-2"><Fish /><span>Avid <a href="https://www.instagram.com/ninding.femo/">Snorkeller</a></span></li>
    </ul>
    <div class="lg:self-start">
        <p>
            I am currently studying Computer Science, and making projects in my free time. Feel free to contact me about anything. My main
            project is gm-server, an open-source framework for interfacing between Java servers and Gamemaker: Studio game clients.
            Currently working on experimenting with different web-dev technologies.
        </p>
        {more && <a href="/about">More Information</a>}
    </div>
</div>
