---
import { Laptop2, GraduationCap, Camera, Fish } from 'lucide-astro'
import { Card, CardContent } from "@f0rbit/ui";
import { Image } from 'astro:assets';
import forbitIcon from "../../assets/forbit-icon.png"
interface Props {
    more: boolean
}

const { more } = Astro.props;
---

<div class="row-lg" style="flex-wrap: wrap; align-items: start;">
    <div>
        <div style="height: 4rem; width: 4rem;">
            <Image src={forbitIcon} alt="forbit logo" style="border-radius: 30%;" />
        </div>
    </div>
    <Card>
        <CardContent>
            <ul class="stack-sm" style="white-space: nowrap;">
                <li class="row"><Laptop2 size={18} />Software Engineer</li>
                <li class="row"><GraduationCap size={18} />University of Adelaide</li>
                <li class="row"><Camera size={18} />Hobbyist Photographer</li>
                <li class="row"><Fish size={18} /><span>Avid <a href="https://www.instagram.com/ninding.femo/">Snorkeller</a></span></li>
            </ul>
        </CardContent>
    </Card>
    <div>
        <p class="text-muted">
            I am currently studying Computer Science, and making projects in my free time. Feel free to contact me about anything. My main
            project is gm-server, an open-source framework for interfacing between Java servers and Gamemaker: Studio game clients.
            Currently working on experimenting with different web-dev technologies.
        </p>
        {more && <a href="/about">More Information</a>}
    </div>
</div>
