---
import CenteredContainer from '../components/CenteredContainer.astro'
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import AboutMe from '../components/about/AboutMe.astro'
import Experience from '../components/about/Experience.astro'
---

<Page title="About Me" description="About me page">
    <Navigation />
    <CenteredContainer tag="main" class="flex flex-col gap-2">
        <section id="info">
            <h2>About Me</h2>
            <AboutMe more={false} />
        </section>
        <section id="experience">
            <h2>My Journey</h2>
            <div class="hidden lg:block">
                <Experience types={['learning', 'hobby', 'professional']} sort={'earliest'} mode={'middle'} />
            </div>
            <div class="block lg:hidden">
                <Experience types={['learning', 'hobby', 'professional']} sort={'earliest'} mode={'left'} />
            </div>
        </section>
        <section id="working-on">What I'm working on</section>
        <section id="hobbies">Hobbies</section>
        <section id="skillset">Skill Set</section>
    </CenteredContainer>
</Page>
