---
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import { getBlogPosts } from '../utils';
import BlogCard from '../components/blog/BlogCard.astro';

const posts = await getBlogPosts();

export const prerender = false;
---

<Page title="Blog" description="Just some of my thoughts" keywords={["blog", "devblog", "programming blog"]} canonical='https://forbit.dev/blog'>
    <Navigation home={false} />
    <div class="center center-wide grid">
        {posts.map((post) => <BlogCard post={post} />)}
    </div>
</Page>
