---
import Home from '../layouts/Home.astro'
import CenteredContainer from '../components/CenteredContainer.astro'
import Navigation from '../components/Navigation.astro'
import RecentProjects from '../components/projects/RecentProjects.astro'
import AboutMe from '../components/about/AboutMe.astro'
import Experience from '../components/about/Experience.astro';
---

<Home>
    <header class="w-full h-screen flex justify-center items-center flex-col gap-2">
        <h1 class="text-[4vw] font-bold">forbit</h1>
        <p>I am a Computer Scientist.</p>
    </header>
    <Navigation />
    <CenteredContainer class="flex flex-col gap-2" tag="main">
        <section id="about-me">
            <h2>About Me</h2>
            <div class="p-2">
                <AboutMe more={true} />
            </div>
        </section>
        <section id="projects">
            <h2>Recent Projects</h2>
            <div class="grid gap-2 p-2 grid-cols-1 xl:grid-cols-3"><RecentProjects /></div>
        </section>
        <div class="flex gap-2">
            <div class="basis-3/4">
                <section id="experience">
                    <h2>Experience</h2>
                    <Experience types={["professional"]} sort={"reverse_position"}/>
                </section>
                <section id="recent-blogs" class="bg-orange-500">
                    <h2>Recent Blogs</h2>
                    <div class="h-[800px]">A bunch of different blog posts</div>
                </section>
            </div>
            <section id="recent-activity" class="bg-purple-500 basis-1/4">
                <h2>Recent Activity</h2>
            </section>
        </div>
    </CenteredContainer>
</Home>
