---
import Home from '../layouts/Home.astro'
import CenteredContainer from '../components/CenteredContainer.astro';
import Navigation from '../components/Navigation.astro';
---
<Home>
    <header class="w-full h-screen flex justify-center items-center flex-col gap-2">
        <h1 class="text-[4vw] font-bold">forbit</h1>
        <p>I am a Computer Scientist.</p>
    </header>
    <Navigation />
    <CenteredContainer class="flex flex-col gap-2" tag="main">
        <section id="about-me" class="bg-red-600">
            <h2>About Me</h2>
            <div class="flex flex-row gap-4">
                <div class="w-max flex items-center justify-center">
                    {/*Image would go here*/}
                    <div class="h-16 w-16 bg-gray-800 rounded-[30%]"></div>
                </div>
                <p class="h-32">This is my about me section, it has a lot of content in it</p>
            </div>
            <a href="/about">More Information</a>
        </section>
        <section id="projects" class="bg-green-600">
            <h2>Projects</h2>
            <div class="h-[300px]">List of Projects</div>
        </section>
        <div class="bg-yellow-500 flex gap-2">
            <div class="bg-teal-600 basis-3/4">
                <section id="experience" class="bg-sky-500">
                    <h2>Experience</h2>
                    <div class="h-96">A timeline of my professional experience</div>
                </section>
                <section id="recent-blogs" class="bg-orange-500">
                    <h2>Recent Blogs</h2>
                    <div class="h-[800px]">A bunch of different blog posts</div>
                </section>
            </div>
            <section id="recent-activity" class="bg-purple-500 basis-1/4">
                <h2>Recent Activity</h2>
            </section>
        </div>
    </CenteredContainer>
</Home>
