---
import CenteredContainer from "../components/CenteredContainer.astro";
import Page from "../layouts/Page.astro";
import Navigation from "../components/Navigation.astro";
---

<Page title="Projects" description="A list of all my projects">
    <Navigation />
    <CenteredContainer tag="div" class="flex flex-col gap-2">
        <header>
            Sorting Options...
        </header>
        <main>
            A list of projects
        </main>
    </CenteredContainer>
</Page>

