---
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import ProjectList from '../components/projects/ProjectList.astro'
import { getProjects, isProjectCacheInvalid } from '../utils'

const projects = (await getProjects()).sort((a,b) => new Date(b.updated_at).getTime() - new Date(a.updated_at).getTime()) || null;
const invalid = isProjectCacheInvalid()

export const prerender = false
---

<Page title="Projects" description="A list of all my projects, including specifcation and recent activity" keywords={["projects", "programming", "software engineer", "side projects", "web dev side projects", "tech journey"]} canonical='https://forbit.dev/projects'>
    <Navigation home={false} />
    <div class="page-container stack">
        {
            invalid ? (
                <p style="color: var(--error); text-align: center;">Invalid response from Projects API</p>
            ) : (
                <main class="grid">
                    <ProjectList projects={projects} select={null} />
                </main>
            )
        }
    </div>
</Page>
