---
import CenteredContainer from '../components/CenteredContainer.astro'
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import ProjectCard from '../components/ProjectCard.astro'
import type { Project } from '../env'

const projects = (await (await fetch(import.meta.env.PROJECT_URL)).json()) as
    | { success: true; data: Project[]; error: null }
    | { success: false; data: null; error: string }
---

<Page title="Projects" description="A list of all my projects">
    <Navigation />
    <CenteredContainer tag="div" class="flex flex-col gap-2">
        <header>Sorting Options...</header>
        {
            !projects.success ? (
                <div>Fetch Error: {projects.error}</div>
            ) : (
                <main class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
                    {projects.data.map((project) => (
                        <ProjectCard project={project} />
                    ))}
                </main>
            )
        }
    </CenteredContainer>
</Page>
