---
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import TimelineComponent from "../components/activity/Timeline.astro"

export const prerender = false;
---

<Page title="Timeline" description="All of my public recent activity on the internet" keywords={["timeline", "tweets", "commits", "log"]} canonical='https://forbit.dev/timeline'>
    <Navigation home={false} />
    <div class="center-wide">
        <TimelineComponent group_commits={true} limit={null} />
    </div>
</Page>
