---
import { Copyright, Linkedin, Twitter, Mail } from "lucide-astro";
---

<footer>
    <div class="page-container">
        <div class="footer-content row row-between">
            <section class="row row-sm text-sm text-subtle footer-icons">
                <Copyright />
                <p>All Rights Reserved</p>
            </section>
            <section class="row row-sm footer-icons">
                <a href="https://twitter.com/f0rbit"><Twitter /></a>
                <a href="https://www.linkedin.com/in/tom-materne-001"><Linkedin /></a>
                <a href="mailto:dev@forbit.dev"><Mail /></a>
            </section>
        </div>
    </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--border);
  }
  .footer-content {
    height: 1rem;
    padding-block: var(--space-sm);
  }
  .footer-icons, .footer-icons a, .footer-icons :global(svg) {
    height: 100%;
  }
</style>
