---
import { Copyright, Linkedin, Twitter, Mail } from "lucide-astro";
---

<footer>
    <div class="center-wide">
        <div class="footer-content row-between">
            <section class="row-sm text-sm text-subtle">
                <Copyright class="h-full"/>
                <p>All Rights Reserved</p>
            </section>
            <section class="row-sm">
                <a href="https://twitter.com/f0rbit" class="h-full"><Twitter class="h-full" /></a>
                <a href="https://www.linkedin.com/in/tom-materne-001" class="h-full"><Linkedin class="h-full" /></a>
                <a href="mailto:dev@forbit.dev" class="h-full"><Mail class="h-full"/></a>
            </section>
        </div>
    </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--border);
  }
  .footer-content {
    height: 1rem;
    padding-block: var(--space-sm);
  }
</style>
