---
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from 'astro-navbar'
---

<div class="lg:flex p-5 gap-5 justify-center">
    <Astronav>
        <div class="flex w-full lg:w-max justify-between">
            <a>Your Logo</a>
            <div class="block lg:hidden">
                <MenuIcon class="w-4 h-4 text-gray-800" />
            </div>
        </div>
        <MenuItems class="hidden lg:flex">
            <ul class="flex flex-col lg:flex-row lg:gap-5">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/timeline">Timeline</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </MenuItems>
    </Astronav>
</div>

