---
import { getBlogPosts } from '../../utils'
import BlogCard from './BlogCard.astro'

const posts = (await getBlogPosts()).slice(0, 3)
---

<div class="grid">
    {posts.map((post: any) => <BlogCard post={post} />)}
</div>
